/* footer style */

.footer-container{
  width: 100%;
  background: #2A6DD9 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
}

.copyrights-text{
  text-align: center;
  color: white;
  margin: 0px;
  font-size: 12px;
}

