
 <!-- ======= Sidebar ======= -->
 <mat-card class="side_card d-sm-block d-none">
    <mat-card-content>
        <p class="w-100 mat-h3 font-weight-600 font-18 my-2 mb-3 text-white text-center heading_with_bg"
            color="primary">My Request</p>

        <div class="card-body px-0 min-height-2 mt-2">
            <mat-nav-list class="list_item font-14 mb-5 list_item_two">
                <mat-list-item>Split Bill Report</mat-list-item>
            <mat-accordion class="side-bar side-bar-menu-hover">
                    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false" class="side-bar-font">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                     
                                <span class=""> Employee Corner</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ul class=" expension-child">
                            <a href="#">
                                <li class="side-bar-style">Employee Transfer Request</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Employee Details</li>
                            </a>

                            <mat-accordion class="side-bar side-bar-menu-hover">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false" class="side-bar-font">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        
                                            <span class="">TA-Medical Bills</span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
            
                                    <ul class=" expension-child">
                                        <a href="#">
                                            <li class="side-bar-style">Employee Medical Bill</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">TA/Medical Annexure</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">Employee TA Bills</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">Employee Bill Forward</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">Employee Bill Status</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">Bill Wise Status</li>
                                        </a>
                                        
                                    </ul>
                                </mat-expansion-panel>		
                        </mat-accordion>
                        <mat-accordion class="side-bar side-bar-menu-hover">
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" class="side-bar-font">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                 
                                        <span class="">Master Data Request</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
        
                                <ul class=" expension-child">
                                    <a href="#">
                                        <li class="side-bar-style">Update Emp Pay Date</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Personal Details Updates</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Employee Scheme Request</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Update No Detail Request</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Personal Data Request</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Delete Account Update</li>
                                    </a>
                                    <a href="#">
                                        <li class="side-bar-style">Personal Details Update</li>
                                    </a>
                                </ul>
                            </mat-expansion-panel>		
                    </mat-accordion>
                    <mat-accordion class="side-bar side-bar-menu-hover">
                        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" class="side-bar-font">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="">Employee Report</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
    
                            <ul class=" expension-child">
                                <a href="#">
                                    <li class="side-bar-style">Personal Details</li>
                                </a>
                                <a href="#">
                                    <li class="side-bar-style">Last Pay Certificate</li>
                                </a>
                                <a href="#">
                                    <li class="side-bar-style">Pay Slip Monthwise</li>
                                </a>
                                <a href="#">
                                    <li class="side-bar-style">GA 55 Employee Details</li>
                                </a>
                                <a href="#">
                                    <li class="side-bar-style">Employee Payment Report</li>
                                </a>
                            </ul>
                        </mat-expansion-panel>		
                </mat-accordion>
                            <a href="#">
                                <li class="side-bar-style">Employee Deduction Request</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Nps Report</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Advance Salary Request</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Reimbursement Annual Declaration</li>
                            </a>
                            <mat-accordion class="side-bar side-bar-menu-hover">
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false" class="side-bar-font">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class="">HOD Report</span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
            
                                    <ul class=" expension-child">
                                        <a href="#">
                                            <li class="side-bar-style">Employee Request Status Report</li>
                                        </a>
                                        <a href="#">
                                            <li class="side-bar-style">Status of RequestID Report</li>
                                        </a>
                                    </ul>
                                </mat-expansion-panel>		
                        </mat-accordion>
                            <a href="#">
                                <li class="side-bar-style">Update No</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Reimbursement Adjustment</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Office-Wise Employee Detail Report</li>
                            </a>
                            <a href="#">
                                <li class="side-bar-style">Logout</li>
                            </a>
                        </ul>
                    
                    </mat-expansion-panel>		
            </mat-accordion>

            <mat-list-item>log-out</mat-list-item>
            </mat-nav-list>
        </div>


        <div class="card help border-0">
            <div class="card-header border-bottom-0 bg-transparent d-flex justify-content-between">
                <h3>Need Help ?</h3> <img src="./assets/images/support.svg" class="helpimg" />
            </div>
            <div class="card-body">
                <p>Have questions or concerns regarding your profile? Our experts are here to help!</p>
                <button class="btn btn-primary">Chat with Us</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>


<!-- End Sidebar-->
  