    <!-- .features>.container>.wrapper>.column>.products.main.flexwrap -->
    <div class="features">
        <div class="container-head">
            <h5>Income Tex Detail(form-16)</h5>
        </div>

        <div class="container">
            <div class="wrapper">
                <div class="row ">
                    <div class="col-12 col-sm-3 col-md-2 d-none d-sm-block overflow-auto emp-list">
                        <ul>
                            <li><a href="http://">Ramdev</a></li>
                            <li><a href="http://">Ram</a></li>                         
                            <li><a href="http://">Rohitv</a></li>
                            <li><a href="http://">Manojv</a></li>
                            <li><a href="http://">sunilv</a></li>
                            <li><a href="http://">sumitv</a></li>
                            <li><a href="http://">Mohanv</a></li>
                            <li><a href="http://">Sohanv</a></li>
                            <li><a href="http://">Rohanv</a></li>
                            <li><a href="http://">Ramdev</a></li>
                            <li><a href="http://">Ram</a></li>                         
                            <li><a href="http://">Rohitv</a></li>
                            <li><a href="http://">Manojv</a></li>
                            <li><a href="http://">sunilv</a></li>
                            <li><a href="http://">sumitv</a></li>
                            <li><a href="http://">Sohanv</a></li>
                            <li><a href="http://">Rohanv</a></li>
                            <li><a href="http://">Ramdev</a></li>
                            <li><a href="http://">Ram</a><li>                         
                            <li><a href="http://">Rohitv</a></li>
                            <li><a href="http://">Manojv</a></li>
                            <li><a href="http://">sunilv</a></li>
                            <li><a href="http://">sumitv</a></li>
                            <li><a href="http://">Manojv</a></li>
                            <li><a href="http://">sunilv</a></li>
                            <li><a href="http://">sumitv</a></li>
                            <li><a href="http://">Sohanv</a></li>
                            <li><a href="http://">Rohanv</a></li>
                            <li><a href="http://">Ramdev</a></li>
                            <li><a href="http://">Ram</a></li>                         
                            <li><a href="http://">Rohitv</a></li>
                            <li><a href="http://">Manojv</a></li>
                            <li><a href="http://">sunilv</a></li>
                            <li><a href="http://">sumitv</a></li>
                        </ul>
                    </div>
                    <div class="col-12 d-block d-sm-none d-block">
                        <div class="details">Employee List</div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select The Employee Name</option>
                            <option value="1">Ramdev</option>
                            <option value="2">Ram</option>                           
                            <option value="3">Rohit</option>
                            <option value="4">Manoj</option>
                            <option value="5">sunil</option>
                            <option value="6">sumit</option>
                            <option value="7">Mohan</option>
                            <option value="8">Sohan</option>
                            <option value="9">Rohan</option>
                            <option value="10">Ramdev</option>
                            <option value="11">Ram</option>                           
                            <option value="12">Rohit</option>
                            <option value="13">Manoj</option>
                            <option value="14">sunil</option>
                            <option value="15">sumit</option>
                            <option value="16">Sohan</option>
                            <option value="17">Rohan</option>
                            <option value="18">Ramdev</option>
                            <option value="19">Ram</option>                           
                            <option value="20">Rohit</option>
                            <option value="21">Manoj</option>
                            <option value="22">sunil</option>
                            <option value="23">sumit</option>
                          </select>
                    </div>
                    <div class="col-12 col-sm-9 col-md-10">
                        <div class="content">
                            <form action="#">
                              <div class="user-details">
                                <div class="input-box">
                                  <div class="details">Financial Year</div>
                                  <select class="form-select" aria-label="Default select example">
                                        <option value="20">2016-2017</option>
                                        <option value="21">2017-2018</option>
                                        <option value="22">2018-2019</option>
                                        <option value="23">2019-2020</option>
                                        <option value="22">2020-2021</option>
                                        <option value="22">2021-2022</option>
                                        <option value="22">2022-2023</option>
                                    </select>
                                
                                </div>
                                <div class="input-box">
                                  <div class="details">Group Name</div>
                                  <select class="form-select" aria-label="Default select example">
                                    <option value="21">Education</option>
                                    <option value="22">Self-Employed</option>
                                    <option value="23">Business</option>
                                    <option value="22">Govt. Servent</option>
                                  </select>
                                </div>                                                      
                            </div>
                            <hr>
                            <div>Financial Year</div>
                            <div class="user-details">
                                <div class="input-box">
                                  <div class="details">From</div>
                                  <select class="form-select" aria-label="Default select example">
                                        <option value="20">2010-2011</option>
                                        <option value="21">2011-2012</option>
                                        <option value="22">2012-2013</option>
                                        <option value="23">2013-2024</option>
                                        <option value="22">2014-2015</option>
                                        <option value="22">2015-2016</option>
                                        <option value="22">2016-2017</option>
                                    </select>
                                
                                </div>
                                <div class="input-box">
                                  <div class="details">To</div>
                                  <select class="form-select" aria-label="Default select example">
                                    <option value="20">2016-2017</option>
                                    <option value="21">2017-2018</option>
                                    <option value="22">2018-2019</option>
                                    <option value="23">2019-2020</option>
                                    <option value="22">2020-2021</option>
                                    <option value="22">2021-2022</option>
                                    <option value="22">2022-2023</option>
                                  </select>
                                </div>                                                      
                            </div>
                            <hr>
                            <div>Employee's Details</div>
                            <div class="user-details">
                                <div class="input-box2">
                                  <div class="details">Name</div>
                                    <input class="form-control" type="text" name="" id="">
                                </div>
                                <div class="input-box2">
                                  <div class="details">Designation</div>
                                  <input type="text" name="" id="" class="form-control">
                                </div>                                                      
                                <div class="input-box2">
                                  <div class="details">Gender</div>
                                  <input type="text" name="" id="" class="form-control">
                                </div>       
                                <div class="input-box2">
                                    <div class="details">Father Name</div>
                                      <input class="form-control" type="text" name="" id="">
                                  </div>
                                  <div class="input-box2">
                                    <div class="details">Pan No.</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                                      
                                  <div class="input-box2">
                                    <div class="details">D.O.B</div>
                                    <input type="date" name="" id="" class="form-control">
                                  </div>  
                                  <div class="input-box2">
                                    <div class="details">Address</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                                      
                                  <div class="input-box2">
                                    <div class="details">Mobile No.</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                               
                            </div>
                            <hr>
                            <div>Dues Details</div>
                            <div class="user-details">
                                <div class="input-box2">
                                  <div class="details">Basic</div>
                                    <input class="form-control" type="text" name="" id="">
                                </div>
                                <div class="input-box2">
                                  <div class="details">DP</div>
                                  <input type="text" name="" id="" class="form-control">
                                </div>                                                      
                                <div class="input-box2">
                                  <div class="details">DA</div>
                                  <input type="text" name="" id="" class="form-control">
                                </div>       
                                <div class="input-box2">
                                    <div class="details">HRA</div>
                                      <input class="form-control" type="text" name="" id="">
                                  </div>
                                  <div class="input-box2">
                                    <div class="details">CCA</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                                      
                                  <div class="input-box2">
                                    <div class="details">Trans-Allow</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>  
                                  <div class="input-box2">
                                    <div class="details">Spl.Pay </div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                                      
                                  <div class="input-box2">
                                    <div class="details">Leave Pay</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                               
                                  <div class="input-box">
                                    <div class="details">Others</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                                      
                                  <div class="input-box">
                                    <div class="details">Convince Allow</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                               
                                  <div class="input-box">
                                    <div class="details">Gross</div>
                                    <input type="text" name="" id="" class="form-control">
                                  </div>                                               
                                
                                    <button type="reset" class="Refresh-btn">Refresh</button>
                                                                        
                            </div>
                            <hr>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Gross Salary
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                  <div class="accordion-body">
                                    <ul>
                                      <li><div class="lable">Gross Salary&nbsp;:</div><div class="inputbox">56100</div></li>
                                      <li><div class="lable">Less. Transport Allowance to be exempted&nbsp;:</div><div class="inputbox"><input type="text" name="" id="" placeholder="0"></div></li>
                                      <li><div class="lable">Any Other Allowance to be exempted(e.g. Hill Allowance)&nbsp;:</div><div class="inputbox"><input type="text" name="" id="" placeholder="0"></div></li>
                                      <li><div class="lable">Special compenstory allowance,Remote Locality Allowance, difficult area allowance ,or Distrubed&nbsp;:</div><div class="inputbox"><input type="text" name="" id="" placeholder="0"></div></li>
                                      <li><div class="lable">Exempted Allowance&nbsp;:</div><div class="inputbox"><input type="text" name="" id="" placeholder="0"></div></li>
                                      <li><div class="lable">Total Salary (1)-(2+3+4)&nbsp;:</div><div class="inputbox">0</div></li>
                                      <li><div class="lable">Rent Paid&nbsp;:</div><div class="inputbox"><input type="text" name="" id="" placeholder="0"></div></li>
                                      <li><div class="lable">Total Salary(6-5)&nbsp;:</div><div class="inputbox">0</div></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </form>
                          </div>
                    </div>
            </div>
        </div>
    </div>